{% extends 'layout.twig' %}

{% block Content %}
    <h2>Dashboard</h2>
    <table class="table" id="active-users">
        <thead>
            <tr>
                <th>Username</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John Doe</td>
                <td>Online</td>
            </tr>
        </tbody>
    </table>

    <hr />

    <h2>Send a message</h2>
    <h6>(Under construction)</h6>

    <form>
        <div class="form-group">
            <label for="Message">Your message</label>
            <textarea name="Message" id="Message" class="form-control"></textarea>
        </div>
        <div class="button-row">
            <button name="Send" class="btn btn-primary">Send</button>
        </div>
    </form>
{% endblock %}